.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

.image {
  width: 232px;
  height: 232px;
}

.emptyImage {
  width: 232px;
  height: 232px;
  background: #beceda;
}

.input {

}

.button {

}
